.Container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Heading {
  word-wrap: break-word;
  font-size: 16px;
  height: 30px;
  font-weight: 600;
}

.Paragraph {
  display: inline-block;
  text-align: left;
  font-size: 16px;
  margin: 5px;
  margin-left: 10px;
}
